# Practice with Lambda Functions

Cconvert the following simple functions to lambda functions.

In [7]:
def Get_First_Letter(name):
    """Take a name as input return the lowercase
    first letter of the name"""
    
    first_letter = name[0].lower()
    
    return first_letter

Get_First_Letter("Jake")

'j'

In [8]:
#Define your lambda function here

f =  lambda name: name[0].lower()

f("Jake")

'j'

In [9]:
def Check_Even(x):
    """Return True if x is even and odd otherwise """
    
    return x%2 == 0

Check_Even(5)

False

In [10]:
#Define your lambda function here
f = lambda x: x%2 == 0

f(5)

False

In [11]:
def Get_Num(L):
    """Return the integer version of the number
    specified by the list if strings in L"""
    
    return int("".join(L))

Get_Num(["1","5","2"])

152

In [12]:
#Define your lambda function here

f = lambda L: int("".join(L))

f(["1","2","3"])

123

# Filtering in pandas

In this practice, we will explore data on the progression of salaries of students graduating from various schools. The file "salaries-by-region.csv" gives this information broken down by region and the the file "salaries-by-college-type.csv" gives this information broken by school type.

In [13]:
def Get_Dict_Region(file_location):
    
    """Take as input the file location of salaries-by-region.csv
    and returns a dictionary with a key for each school whose value is the region
    of that school."""
    
    df_region = pd.read_csv(file_location)
    
    
    D_region = {}
    for index, row in df_region.iterrows():
        
        school = df_region.loc[index, "School Name"]
        region = df_region.loc[index, "Region"]
        
        if school not in D_region:
            D_region[school] = region
            
    return D_region

$--------------------------------------------------$

Write the function Get_Dict_Region, which reads the file "salaries-by-region.csv" into a dataframe called df_region and then uses iterrows() to construct a dictionary where there is a key for each school and it's value is the region.  Return this dictionary.

In [15]:
#Write your code here
import pandas as pd

file_location = "Data/salaries-by-region.csv"
D_regions = Get_Dict_Region(file_location)

Read in the file "salaries-by-college-type.csv" into a a dataframe called df_college_type and use dtype to check the how each column is stored. Use "N/A" as the na_values when you read in the dataframe.

In [16]:
#Write your code here
df_college_type= pd.read_csv("Data/salaries-by-college-type.csv", na_values="N/A")
df_college_type.dtypes

School Name                          object
School Type                          object
Starting Median Salary               object
Mid-Career Median Salary             object
Mid-Career 10th Percentile Salary    object
Mid-Career 25th Percentile Salary    object
Mid-Career 75th Percentile Salary    object
Mid-Career 90th Percentile Salary    object
dtype: object

We need notice that all of the salary categories are objects when they should be ints. Use a for loop over the columns attribute of the dataframe df_college_type and a  map function to do the conversion of each of these columns to a float.

In [17]:
#Write your code here
list_column_names = list(df_college_type.columns)


for column_name in list_column_names[2:]:
    df_college_type[column_name] = df_college_type[column_name].\
                apply(lambda x: x if type(x)!=str else float(x.replace("$","").replace(",","")))

df_college_type.head()

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,72200.0,126000.0,76800.0,99200.0,168000.0,220000.0
1,California Institute of Technology (CIT),Engineering,75500.0,123000.0,NaN,104000.0,161000.0,NaN
2,Harvey Mudd College,Engineering,71800.0,122000.0,NaN,96000.0,180000.0,NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,62400.0,114000.0,66800.0,94300.0,143000.0,190000.0
4,Cooper Union,Engineering,62200.0,114000.0,NaN,80200.0,142000.0,NaN

Then use map and a lambda function to add a column for region.

In [18]:
#Write you code here
df_college_type["Region"] = df_college_type["School Name"].\
                map(lambda x,dict_regions= D_regions: dict_regions.get(x))
df_college_type.head()

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary,Region
0,Massachusetts Institute of Technology (MIT),Engineering,72200.0,126000.0,76800.0,99200.0,168000.0,220000.0,Northeastern
1,California Institute of Technology (CIT),Engineering,75500.0,123000.0,NaN,104000.0,161000.0,NaN,California
2,Harvey Mudd College,Engineering,71800.0,122000.0,NaN,96000.0,180000.0,NaN,California
3,"Polytechnic University of New York, Brooklyn",Engineering,62400.0,114000.0,66800.0,94300.0,143000.0,190000.0,Northeastern
4,Cooper Union,Engineering,62200.0,114000.0,NaN,80200.0,142000.0,NaN,Northeastern

How many colleges are represented?

In [19]:
#Write your code here
num_colleges = df_college_type["School Name"].nunique()
num_colleges

249

How many school-dept pairs have a starting salary greater than 65K?

In [20]:
#Write your code here
greather_65K = df_college_type.loc[df_college_type["Starting Median Salary"]>=65000,:]
num_rows = greather_65K.shape[0]

num_rows

4

What is the average median starting salary among these schools?

In [21]:
#Write your code here
greather_65K["Starting Median Salary"].mean()

71500.0

What is the median mid career 75th percentile salary of party schools in a Southern or Western region?

In [22]:
#Write your code here
party_south_west = df_college_type.loc[(df_college_type["School Type"]=="Party") &\
                                      (df_college_type.Region.isin(["Southern", "Western"]))]

df_stats = party_south_west.describe()

df_stats.loc["50%", "Mid-Career 75th Percentile Salary"]

117500.0

What fraction of California schools have a starting median starting salary above 50K?

In [23]:
#Write your code here
df_cali = df_college_type.loc[df_college_type.Region == "California", :].copy()

df_cali["High_Starting"] = df_cali["Starting Median Salary"]\
            .map(lambda x: 1 if x>=50000 else 0, na_action = "ignore")
    
df_cali.High_Starting.mean()

0.4074074074074074

How many schools have university in their name?

In [24]:
#Write your code here
df_university = df_college_type.loc[df_college_type["School Name"].str.contains("University")]
num_rows = df_university.shape[0]

num_rows

211