# Practice with Lambda Functions

Cconvert the following simple functions to lambda functions.

In [3]:
def Get_First_Letter(name):
    """Take a name as input return the lowercase
    first letter of the name"""
    if name[0] == "J":
        first_letter = name[0].lower()
        return first_letter
    else:
        last_letter = name[-1]
        return last_letter
    

Get_First_Letter("Steve")

'e'

In [5]:
#Define your lambda function here
f = None

f("Steve")

'e'

In [5]:
def Check_Even(x):
    """Return True if x is even and odd otherwise """
    
    return x%2 == 0

Check_Even(5)

False

In [7]:
#Define your lambda function here
g = None

g(4)

True

In [7]:
def Get_Num(L):
    """Return the integer version of the number
    specified by the list if strings in L"""
    
    return int("".join(L))

Get_Num(["1","5","2"])

152

In [9]:
#Define your lambda function here
l = None

l(["1","3", "5"])

135

# Filtering in pandas

In this practice, we will explore data on the progression of salaries of students graduating from various schools. The file "salaries-by-region.csv" gives this information broken down by region and the the file "salaries-by-college-type.csv" gives this information broken by school type.

In [2]:
def Get_Dict_Region(file_location):
    
    """Take as input the file location of salaries-by-region.csv
    and returns a dictionary with a key for each school whose value is the region
    of that school."""
    
    df_regions = pd.read_csv(file_location)
    D_regions = {}
    
    # Write your code here
            
    return D_regions

$--------------------------------------------------$

Write the function Get_Dict_Region, which reads the file "salaries-by-region.csv" into a dataframe called df_region and then uses iterrows() to construct a dictionary where there is a key for each school and it's value is the region.  Return this dictionary.

In [12]:
import pandas as pd

#Write your code here
file_path  = ""
#D_regions = Get_Dict_Region(file_path)

#print(D_regions)

Read in the file "salaries-by-college-type.csv" into a a dataframe called df_college_type and use dtype to check the how each column is stored. Use "N/A" as the na_values when you read in the dataframe.

In [4]:
#Write your code here

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00","$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",NaN,"$80,200.00","$142,000.00",NaN

We need notice that all of the salary categories are objects when they should be ints. Use a for loop over the columns attribute of the dataframe df_college_type and an apply function to do the conversion of each of these columns to a float.

In [13]:
#Write your code here

In [25]:
df_college_type.dtypes

School Name                           object
School Type                           object
Starting Median Salary               float64
Mid-Career Median Salary             float64
Mid-Career 10th Percentile Salary    float64
Mid-Career 25th Percentile Salary    float64
Mid-Career 75th Percentile Salary    float64
Mid-Career 90th Percentile Salary    float64
dtype: object

Then use map and a lambda function to add a column for region.

In [5]:
#Write you code here

How many colleges are represented?

In [6]:
#Write your code here

How many school-dept pairs have a starting salary greater than 65K?

In [7]:
#Write your code here

What is the average median starting salary among these schools?

In [8]:
#Write your code here

What is the median mid career 75th percentile salary of party schools in a Southern or Western region?

In [9]:
#Write your code here

What fraction of California schools have a starting median starting salary above 50K?

In [10]:
#Write your code here

How many schools have university in their name?

In [11]:
#Write your code here