# Practice with Joins

Run the cells below to create the following dataframes.

df_purchases contains information on various customer purchases.

In [171]:
import pandas as pd
from pandasql import sqldf

names = ["Jake", "Joe", "Ellen", "Joe", "Ellen"]
item = ["Ball", "Shirt", "Shoes", "Ball", "Shirt"]

df_purchases = pd.DataFrame({"Name": names, "Item_Purchased": item} )
                    
df_purchases

  Item_Purchased   Name
0           Ball   Jake
1          Shirt    Joe
2          Shoes  Ellen
3           Ball    Joe
4          Shirt  Ellen

df_items contains information on the prices of each item.

In [172]:
item = ["Ball", "Shirt", "Shoes"]
price = [10,15,75]

df_items = pd.DataFrame({"Item": item, "Price":price})

df_items

    Item  Price
0   Ball     10
1  Shirt     15
2  Shoes     75

df_customer contained information on the customers

In [173]:
customers = ["Jake", "Joe", "Ellen"]
allowance = [15, 12, 85]

df_customers = pd.DataFrame({"Allowance":allowance, "Customers":customers})

df_customers

   Allowance Customers
0         15      Jake
1         12       Joe
2         85     Ellen

**Question 1:** Write a query that selects all purchases made from the customer stored in the variable customer name

**Question 2:** Write a query that selects all items priced above threshold_price.

**Question 3:** How many customers went over their allowance?

Create df_1, which is df_purchases with an additional column that gives the price of each item

Create df_2, which stores the total amount that each person spent.

Created df_3, which adds each person't allowance to df_2

Add a column to df_3 which tells whether or not they went over their allowance or not.

Compute how many people went over.

# Fantansy Football Tool 

In this practice, we will build a fantasy football tool that quickly let's us analyze the performance of any running back.

In the cell below import pandas, matplotlib and sqldf

In [184]:
#Import relevant packages
import pandas as pd
import matplotlib.pyplot as plt
from pandasql import sqldf

Enter the running you would like to analyze below in the cell below as a string. If you don't know a running back use DeMarco Murray.

In [185]:
player_name = "Matt Forte"

Read in the data from nflteams.csv, nflgames.csv, nflplayers.csv, and rushingstats.csv into dataframes

In [1]:
#Read in the data

Get the PlayerID and TeamID corresponding to the inputted player.

In [2]:
#Get the IDs for the given

Now pick out the rushing yards (Yds) and GameID for this player only for this player over all of his games.

In [3]:
#Get the stats only for this player

Join this with the games table to get the Week and Opponent teams ID.

In [4]:
#Get week and opponenent ID

Join this with the teams dataframe to get the opponent abbreviation.  Also sort ascending by week.

Now we create a line plot showing the yards gained over each week.

In [6]:


#Set to ggplot style

#Create figure and axis

#Add titles

Next we add labels showing his opponents for the two games where he had the most rushing yards

In [7]:
#Get info for top 2 games

Now lets add the lables onto the graph.

In [8]:
#Add first label


#Add first label


#View the figure